html
	head
		link(rel='stylesheet' href='/styles.css')
		link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
	body
		.container
			h1
				=title
			ul.nav.nav-tabs
				li
					a(href='/') Home
				li
					a(href='/foo') Foo